{% extends "Author/dash.html" %}

{% block content %}

      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Blogs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Blog</li>
              <li class="breadcrumb-item active">List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Blog list</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
               <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Genre</th>
                      <th>Content</th>
                      <th>Release</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for post in posts %}

                    <tr>
                      <td>{{ post.Title }}</td>
                      <td>{{ post.Genre}}</td>
                      <td>{{ post.Description|truncatewords:10 }}</td>
                      <td>{{ post.Release }}</td>
                      <td><a href="editblog/{{ post.id }}"><i class="fa fa-pencil-alt text-primary"></i></a>
                          <a href="#"><i class="fa fa-trash-alt btn text-danger"></i></a>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


  </div>
{% endblock %}