*{
    font-family: 'Noto Sans JP', serif;
    padding: 0;
    margin: 0;
 }
section>h1:first-child{
    text-align: center;
}
 header{
     background-image: url(../images/Background.jpg);
     background-size: cover;
     background-position: 100% 45%;
     color: #f1f1f1;
     display: grid;
 }

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    /*align-items: right;*/
}

nav ul li{
    list-style: none;
    padding: 20px;
}

nav ul li a{
    color: #f8B228;
    padding-right: 20px;
}

nav ul li a:hover{
    color: #ffffff;
}

.hero-section{
    padding: 80px;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;
}
.hero-section p{
    text-align: right;
    padding: 10px;
}

.hero-section button{
    padding: 10px 20px;
}
.hero-section a{
    margin: 10px;
}

hr{
    width: 80px;
    border-top-width: 4px;
    border-bottom-width: 0px;
    border-color: #b32d04;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}